<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'basic_app:list' %}">Schools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'basic_app:mydog' %}">My Dogs</a>
                    </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <form method="post">
        <div class="form-group">
            <p><label for="id_name">Imagem Base:</label> <input type="file" name="name" maxlength="256" required id="id_name"></p>
            <p><label for="id_principal">Magem Estilo:</label> <input type="file" name="principal" maxlength="256" required id="id_principal"></p>
            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="submit" class="btn btn-warning" value="Clear">
        </div>
    </form>

</div>

</body>
</html>