argon2-cffi==19.2.0
asgiref==3.2.7
astroid==2.4.0
bcrypt==3.1.7
beautifulsoup4==4.9.0
cffi==1.14.0
colorama==0.4.3
Django==3.1.6
django-bootstrap4==1.1.1
django-braces==1.14.0
Faker==4.0.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
misaka==2.1.1
Pillow==7.1.1
pycparser==2.20
pylint==2.5.0
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.0
wrapt==1.12.1
