{% extends 'groups/group_base.html' %}
{% block pregroup %}
<div class="container  col-md-4">
<h1>{{ group.name }}</h1>
<h2>Member Count: {{ group.members.count }}</h2>

<div class="content">
    {% if user in group.members.all %}
        <a style="color:white" href="{% url 'groups:leave' slug=group.slug%}" class="btn btn-md btn-warning">
            <span class="material-icons">block</span> Leave</a>
    {% else %}
        <a style="color:white;text-align: center" href="{% url 'groups:join' slug=group.slug%}" class="btn btn-md btn-warning">
            <span class="material-icons">done</span>Join</a>
    {% endif %}
</div>
</div>



{% endblock %}

{% block group_content %}
    <div class="col-md-6">
        <div class="border-light mb-3">

    {% if group.posts.count == 0 %}
        <h2>No posts in this group yet!</h2>
    {% else %}
        {% for post in group.posts.all %}
<div class="card border-secondary mb-4">
            {% include "posts/_post.html" %}
</div>
        {% endfor %}
    {% endif %}
        </div>
    </div>
{% endblock %}
