/*
Nao fez
body {
  padding: 10px 400px 40px 400px;
}

html {
  background-color: yellow;
} */

body {
  background-color: #011627; /* #1b2940 */
  font-family: 'Roboto', sans-serif;
  font-weight: bold; /* nao fez */
  color: #FDFFFC; /* white */
  text-align: center;
  /* nao fiz */
  border: 40px solid #2EC486;
  border-top: 0px;
  margin: 0px;
}

/* nao fiz */
p {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

/* nao fiz */
form {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#sub {
  /* shape-outside: circle(); */
  border-radius: 25px; /* 30 */
  width: 150px;/* 300 */
  height: 80px;/* 100 */
  background-color: #FF9F1C; /* orange */
  font-size: 1.0em; /* 1.5 */
  /* font-weight: bold; */
  margin: 4px;
  margin-top: 10px;

}
